albumentations==1.3.0
h5py==3.8.0
matplotlib==3.7.1
pandas==2.0.1
peewee==3.16.2
pytest==7.3.1
seaborn==0.12.2
typer==0.9.0
visdom==0.2.4
umap-learn==0.5.3
openslide-python==1.2.0
python-bioformats==4.0.7